body {
  font-family: 'Poppins', sans-serif;
  background: #fff1ff;
  color: #444;
  margin: 0;
  text-align: center;
}

.hero {
  padding: 4rem 1rem;
  background: #ffd6e0;
  border-bottom: 3px solid #fcbad3;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.3rem;
}

form {
  max-width: 500px;
  margin: 2rem auto;
  text-align: left;
  background: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-top: 1rem;
}

input, select, textarea, button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  background: #f78fb3;
  border: none;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
